.cto {
	position=absolute;
	top=110; left=360; 
	width=46; 
	height=20;
	
}
.cfrom {
	position=absolute; 
	top=110; 
	left=460; 
	width=46; 
	height=20;
	
}
.cnext {
	position=absolute; 
	top=130;
	left=24; 
	width=46; 
	height=20;
	
}
.cstart {
	position=absolute; 
	top=030; 
	left=24; 
	width=46; 
	height=20; 
	
}
.ccreqN {
	position=absolute; 
	top=160; 
	left=010;
}
.ccreq01 {
	position=absolute; 
	top=160; 
	left=390;
  
}
.ccreq02.active{
  display: none;
}
.ccreq02 {
	position=absolute; 
	top=190; 
	left=390;
}
.ccreq03 {
	position=absolute; 
	top=222; 
	left=390;
}
.ccreq04 {
	position=absolute; 
	top=256; 
	left=390;
}
.ccreq05 {
	position=absolute; 
	top=286; 
	left=390;
}
.ccreq06 {
	position=absolute; 
	top=318; 
	left=390;
}
.ccreq07 {
	position=absolute; 
	top=351; 
	left=390;
}
.ccreq08 {
	position=absolute; 
	top=382; 
	left=390;
}

html{
  max-width: 1280px;
  margin: 0 auto; 
}
body{
  padding: 50px 100px;
  font-family: Arial;

}
body a{
  text-decoration: none;
  color: black;
}
.main{
  max-width: 1280px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.30);
  padding: 0 25px 20px 25px;

}

.main:hover{
  box-shadow: -1px -1px 26px 0px rgba(0, 0, 0, 0.30);
  transition: all 0.3s ease 0s;
  
}
input{
  font-size: 20px;
  padding: 9px 20px;
  width: 100%;
  margin: 0 10px 5px 10px;
  text-align: center;

}
.inputi{
  margin: 0 0 0 40px;
}

.flexi{
  
  padding: 0 30px 10px 30px;
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.log{
  padding: 3px 0 0 5px;
  font-size: 11px;
  text-align: left;
}
.cto{
  background-color: #ff9d45;
  opacity: 0.5;
}
.flexi input{
  box-shadow: -1px -1px 26px 0px rgba(0, 0, 0, 0.15); 
  border-radius: 5px;
  border: 2px solid #b0b0b0;
  margin: 0 10px 5px 0;

}
.flexi input:hover{
  background-color: #343434;
  transition: all 0.2s ease 0s;
  color: #f0f0f0;
  border: 2px solid #b0b0b0;
}
.flexi input:active{
  background-color: #ff9d45;
  transition: all 0.05s ease 0s;
  color: #343434;
  border: 2px solid black;
}

.flexi img{
  box-shadow: -1px -1px 26px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 2px solid #b0b0b0;
  transition: all 0.3s ease 0s;

}
.flexi img:hover{
  border: 2px solid #343434;
  box-shadow: -1px -1px 26px 0px rgba(0, 0, 0, 0.3);
}
.mishi{
  border: 2px solid #b0b0b0;
  border-radius: 10px;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;  
  margin: 10px 0;
  overflow: hidden;
}
.mishi:hover{
  box-shadow: -1px -1px 15px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.mishi img{
  margin: 10px;
  border: 0;
}
.photo{
  width: 500px;
}
.main1 {
  max-width: 910px;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: -1px -1px 26px 0px #f0f0f0;
  margin: 0 10px 10px 10px;
}
.mishi p {
  font-size: 11px;
  background-color: white;
  text-align: left;
  padding: 3px 20px;
  width: 100%;
  margin: 0;
}
.footer{
  padding: 10px 0 0 0;
  margin: 10px 0;
  border-radius: 5px;
}

.cto.stop1{
  background-color: #e6e6e6;
  opacity: 1;
}
.footer span{
  font-size: 10px;
}
.bbshka{
  display: flex;
  justify-content: space-around;
}
.bbshka button{
  width: 100%;
  outline: none;
  margin: 0 20px 5px 20px;
  padding: 0;
  box-shadow: -1px -1px 26px 0px rgba(0, 0, 0, 0.15); 
  border-radius: 5px;
  border: 2px solid #b0b0b0;
  background-color: #e6e6e6;
}

.krizhov{
  background-image: url(stepan.png);
  opacity: 1;
}
.bbshka div{
  background-color: #e6e6e6;
  opacity: 0.8;
  padding: 8px 8px;
  margin: 0;
}
.bbshka div:hover{
  background-color: #343434;
  opacity: 0.8;
  padding: 8px 8px;
  margin: 0;
}
.bagor{
  background-image: url(bagor.png);
  opacity: 1;
}


.bbshka button:hover{
  background-color: #343434;
  transition: all 0.2s;
  color: white;
}
.bbshka button:active{
  background-color: #ff9d45;
  transition: all 0.05s ease 0s;
  color: #343434;
  border: 2px solid black;
}
.bbshka h4{
  margin: 0;
}

}

@media screen and (max-width: 1180px) {
.mishi{
  max-width: 450px;
}
}
@media screen and (max-width: 790px) {
body{
  padding: 10px 10px;
}

.flexi input:hover{
  transition: all 0.2s ease 0s;
  color: black;
  border: 2px solid #b0b0b0;
  background-color: #e6e6e6;
}
.flexi input:active{
  background-color: #ff9d45;
  transition: all 0.05s ease 0s;
  color: #343434;
  border: 2px solid black;
}
.main:hover{
  box-shadow: -1px -1px 26px 0px rgba(0, 0, 0, 0);
  transition: all 0.3s ease 0s; 
}

}

@media screen and (max-width: 560px) {
.flexi input{
  margin: 0 10px 5px 0;
  width: 100%;
}
.inputi {
  width: 204px;
  margin: 5px 0;
}
.flexi {
  padding: 0 0 0 30px 0;
  max-width: 204px;
}
.mishi{
  width: 204px;
}
body{
  padding: 0;
  margin: 0;
}
.main{
  padding: 0;
}
.start{
  padding: 0 20px;
}
.start h1{
  margin-top: 10px;
  margin-bottom: 15px;
}
.main{
  border: none;
}
.bbshka{
  padding: 0 10px;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}
@media screen and (max-width: 320px) {
  .mishi img{
    margin: 0 0 10px 0;
}
}